.about__bottom__wrapper {
  margin: 150px 0;
  text-align: center;
}
.about__bottom__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #38485a;
  margin-bottom: 59px;
}
.about__bottom__btn {
  background: #ef7857;
  border-radius: 30px;
  border: none;
  padding: 23px 20px;
  color: #fff;
}
